@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  font-family:'Oswald', sans-serif;
}

h1 {
  margin:30px 0px 0px 20px;
}

body {
  background-color:#f4d1a4;
}

.container {
  padding:20px;
  width:60%;
  height:460px;
  margin:auto;
}

.one {
  background-color:#9999ff;
  width:100%;
  height:25%;
  border: 2px solid white;
}

.subcontainer {
  width:100%;
  height:100px;
  text-align: left;
  font-size: 30px;
  background-color:#66ff66;
  border: 2px solid white;
 }

.online {
  position:relative;
  float: right;
  margin: 5px 20px 10px 10px;
  font-size:25px;
  color:black;
}

.offline {
  float: right;
  color:red;
  margin: 5px 20px 10px 10px;
  font-size:25px;
}

.move {
  margin: 25px 10px -40px 10px;
  width:80%;
}

.picture {
  height:75px;
  width:75px;
  border-radius:50px;
  border:2px solid white;
  margin:10px;
}

a:hover {
  text-decoration:none;
}

@media (max-width:1200px) {
  .container {
    width:75%;
  }
}

@media (max-width:680px) {
  .container {
    width:100%;
  }
}